* {
  box-sizing: border-box;
}

.board {
  display: grid;
  grid-template-rows: repeat(8, 90px);
  grid-template-columns: repeat(8, 90px);
}

.square {
  max-width: 90px;
  max-height: 90px;
}

.black {
  background-color: #27314e;
}

.white {
  background-color: #6f9cac;
}

.piece {
  position: absolute;
  width: 50px;
  height: 50px;
  /* background-image: url('path/to/chess-pieces.png'); */
}

.white.piece {
  background-position-y: -50px;
}

.black.piece {
  background-position-y: 0;
}

.rook {
  background-position-x: -50px;
}

.knight {
  background-position-x: -100px;
}

.bishop {
  background-position-x: -150px;
}

.queen {
  background-position-x: -200px;
}

.king {
  background-position-x: -250px;
}

.pawn {
  background-position-x: -300px;
}

/* Media query */

/* Mobile devices – 320px — 480px. */
@media only screen and (max-width: 320px) {
  .board {
    grid-template-rows: repeat(8, 30px);
    grid-template-columns: repeat(8, 30px);
  }

  .square {
    max-width: 30px;
    max-height: 30px;
  }
}

@media only screen and (min-width: 320px) {
  .board {
    grid-template-rows: repeat(8, 40px);
    grid-template-columns: repeat(8, 40px);
  }

  .square {
    max-width: 40px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 481px) {
  .board {
    grid-template-rows: repeat(8, 40px);
    grid-template-columns: repeat(8, 40px);
  }

  .square {
    max-width: 40px;
    max-height: 40px;
  }
}

/* iPads, Tablets – 481px — 768px. */
@media only screen and (min-width: 600px) {
  .board {
    grid-template-rows: repeat(8, 50px);
    grid-template-columns: repeat(8, 50px);
  }

  .square {
    max-width: 50px;
    max-height: 50px;
  }
}

/* Small screens, laptops – 769px — 1024px */
@media only screen and (min-width: 769px) {
  .board {
    grid-template-rows: repeat(8, 80px);
    grid-template-columns: repeat(8, 80px);
  }

  .square {
    max-width: 80px;
    max-height: 80px;
  }
}

/* Desktops, large screens – 1025px */
@media only screen and (min-width: 1025px) {
  .board {
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(8, 100px);
  }

  .square {
    max-width: 100px;
    max-height: 100px;
  }
}
