.promotion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: absolute;
  width: 460px;
  height: 200px;
  z-index: 10001;
  background-color: #565656;
  border-radius: 30px;
}

.pieces {
  display: flex;
  justify-content: center;
  align-items: center;
}
